<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>Test</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="author" content="Terry Parrish">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" >
    </head>

    <body>
        <header>
            <div class="header-logo">
                Logo
            </div>
            <div class="header-nav">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="form" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" placeholder="Name">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>