$font-size: 2em;

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;

    div.header-logo {
        font-size: $font-size;
    }

    div.header-nav {
        font-size: $font-size;
    }
}